#form, h4 {
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
}
.label {
    font-size: large;
    font-weight: 500;
}
#body {
    background-color: #EDECE7;;
}
.button2 {
    background-color: rgb(7, 14, 14);
}